
/* general */
body {
  background-color: lightpink;
}
img		{ 
  max-width: 100%;
  float: left;
}
a {
  text-decoration: none;
  color: white;
} 
ul {
  padding: 20px;
}
ul li {
  list-style-type: none;
}

/* header */
header {
  grid-area: header;
}
header h1 {
  color: black;

}

/* menu */
nav {
  grid-area: nav;
}
nav h2 {
  background-color: darkslateblue;
  color: white;
  text-align: center;
  padding: 2%;
  border-radius: 10px;
}
#selected {
  text-shadow: 3px 2px 10px rgb(152, 0, 117);
} 
nav a {
  display: flex;
  flex-direction: column;
  margin: 2%;
  transition-duration: 0.6s;
  background-color: darkslateblue;
  border-radius: 10px;
  padding:2px 12px;
  text-align: center;

}
nav a:hover {
  color: black;
  text-shadow: 3px 2px 10px rgb(152, 0, 117);
}

/* main */
main {
  grid-area: main;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: start;
  max-height: 70%;
}
main .banner {
  position: relative;
}
main img {
  border-radius: 10px;
}
main .banner-text {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.807);
  border-radius: 10px;
  width: 90%;
  left: 3%;
  margin-top: 5%;
  padding: 1%;
}
main .fav-coffee {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
main .coffee-card {
  background-color: white;
  border-radius: 10px;
  padding: 2%;
  display: flex;
  flex-direction: column;
  gap: 1%;
  transition-duration: 0.6s;
  cursor: pointer;
}
main .coffee-card:hover {
  box-shadow: 2px 10px 15px black;
}
main .text-video {
  display: flex;
  flex-direction: column;
}
.video {
  position: relative;
  width: 100%;
  padding-top: 66.66%;
}
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* aside */
aside {
  grid-area: aside;
}
aside h2 {
  background-color: darkslateblue;
  color: white;
  text-align: center;
  padding: 2%;
  border-radius: 10px;
}

/* footer */
footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 5%;
}
footer a {
  padding-left: 1rem;
  cursor: pointer;
  transition-duration: 0.6s;
}
footer a:hover {
  color: black;
}


.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'nav nav main main main aside'
    'nav nav main main main aside'
    'nav nav main main main aside'
    'footer footer footer footer footer footer';
  grid-gap: 1em;
  padding: .8em;
  max-width: 65em;
  margin: auto;
}

/* tablet */
  @media only screen and (max-width : 900px) {
    body {
      background: lightyellow;
    }

    header h1 {
      text-align: center;
    }

    #selected {
      text-shadow: 3px 2px 10px rgb(152, 0, 117);
    } 
    main {
      max-height: 100%;
    }
    span {
      display: none;
    }
    footer a {
     color: black;
    }
    footer a:hover {
      color: brown;
    }

    .grid-container {
      display: grid;
      grid-template-areas:
        'nav . header header header header'
        'main main main aside aside aside'
        'footer footer footer footer footer footer';
      grid-gap: .5em;
      padding: .5em;
    }
  }
  
/* mobile */
  @media only screen and (max-width : 600px) {
    body {
      background: lightblue;
    }
    .grid-container {
      display: grid;
      grid-template-areas:
      'header header header header header header'
        'nav nav nav nav nav nav'
        'main main main main main main'
        'aside aside aside aside aside aside'
        'footer footer footer footer footer footer';
      grid-gap: .5em;
      padding: .5em;
    }
    ul li {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 2%;
    }
    aside p {
      text-align: center;
    }

    main .banner-text {
      margin-top: 0;
    }
  }
